:root{
    --list-light: #ffffff;
    --list-background: #f6f8f9;
    --list-task: #47adf1;
    --list-editorial: #45abe9;
    --list-goals: #9c72e4;
    --list-recruiting: #64c0a8;
    --list-mobile: #f29e33;
    --list-website: #d863a0;
    --list-sales: #b0c926;
}

.text-title{
    font-size: 2rem;
}